## Luaran pembelajaran

- tipe data dan metode dasar untuk memformat, mengkonversi, input dan output data;
- operator;
- variabel.

# 2.1.1 Program Pertama

- the word `print`;
- an opening parenthesis;
- a quotation mark;
- a line of text: `Hello, World!`;
- another quotation mark;
- a closing parenthesis.

In [ ]:
print("Hello, World!")

## Lab
- Cetak kalimat "Hello, Python!"
- Cetak nama pertamamu
- Cetak nama pertamamu tanpa petik

In [ ]:
print("Hello, Python!")
print("Guntur")
print(Guntur)

## Formatting dengan Special Character
`\n` = untuk enter
`\` = escaping karakter

In [ ]:
print("The itsy bitsy spider\nclimbed up the waterspout.")
print()
print("Down came the rain\nand washed the spider out.")

In [ ]:
print("\")

In [ ]:
print("\\")

In [ ]:
# Beberapa kalimat dapat dipisahkan dengan koma

print("The itsy bitsy spider" , "climbed up" , "the waterspout.")

In [ ]:
print("My name is", "Python.")
print("Monty Python.")

In [ ]:
print("My name is", "Python.", end=" ")
print("Monty Python.")

In [ ]:
print("My name is ", end="")
print("Monty Python.")

In [ ]:
print("My", "name", "is", "Monty", "Python.", sep="-")

In [ ]:
print("My", "name", "is", sep="_", end="*")
print("Monty", "Python.", sep="*", end="*\n")
print("Digital", "Talent", "Dahsyat", sep="_", end="*")
print("Guntur", "Budi.", sep="*", end="*\n")

## Lab

Buatlah Program untuk menghasilkan output:
`Programming***Essentials***in...Python`

In [ ]:
print("Programming","Essentials","in",sep="***",end="...")
print("Python")

## Lab

In [ ]:
print("    *\n   * *\n  *   *\n *     *\n***   ***\n  *   *\n  *   *\n  *****\n"*2)

In [ ]:
print("    *    "*2)
print("   * *   "*2)
print("  *   *  "*2)
print(" *     * "*2)
print("***   ***"*2)
print("  *   *  "*2)
print("  *   *  "*2)
print("  *****  "*2)

# 2.1.2 Literals

In [ ]:
print("2")
print(2)

## Integers vs Floats

In [ ]:
print(5, "mempunyai tipe", type(5))

print(5.0, "mempunyai tipe", type(5.0))

## String

try to print I'm Monty Python

In [ ]:
print("I'm Monty Python")
print("Jum'at")
print('"Saya berpendapat python itu mudah", kata Monty')
print("1.5")
print("1000")

In [ ]:
#empty string is a string

print("")
print('')

## Booelan

In [ ]:
print(True)
print(False)

## None

In [ ]:
print(None)

## Lab
Buat output seperti ini dalam satu line <br/>
`"I'm"`<br/>
`""learning""`<br/>
`"""Python"""`

In [ ]:
print('"I\'m"\n""learning""\n"""Python"""')

print("""
"I'm"
""learning""
\"""Python""\"
""")

# 2.1.3 Operator

### Operator Aritmetika

| Operator | Arti                                                                                          | Contoh                  |
|----------|--------------------------------------------------------------------------------------------------|--------------------------|
| +        | Penambahan                                                                   | x + y                 |
| -        | Pengurangan                                              | x - y                  |
| *        | Perkalian                                                                            | x * y                    |
| /        | Pembagian                                 | x / y                    |
| %        | Modulo - Sisa Pembagian                                 | x % y (sisa pembagian of x/y) |
| //       | Pembagian dan dibulatkan ke bawah | x // y                   |
| **       | Eksponen - Pangkat                                             | x**y (x pangkat y)  |

In [ ]:
print(2 ** 3)
print(2 ** 3.)
print(2. ** 3)
print(2. ** 3.)

In [ ]:
print(6 / 3)
print(6 / 3.)
print(6. / 3)
print(6. / 3.)

In [ ]:
print(6 // 3)
print(6 // 3.)
print(6. // 3)
print(6. // 3.)

In [ ]:
print(6 // 4)
print(6. // 4)

print(6 / 4)
print(6. / 4)

#This is very important: rounding always goes to the lesser integer.

In [ ]:
print(-6 // 4)
print(6. // -4)

In [ ]:
print(14 % 4)

In [ ]:
print(-4 + 4)
print(-4. + 8)

### Urutan Operator

In [ ]:
2 + 3 * 5

#multiplications precede additions

In [ ]:
print(9 % 6 % 2)

#left side binding: pengerjaan dari kiri ke kanan

In [ ]:
print(2 ** 2 ** 3)

#right side binding: pengerjaan dari kanan ke kiri

| Priority | Operator |        |
|----------|----------|--------|
| 1        | +, -     | unary  |
| 2        | **       |        |
| 3        | *, /, %  |        |
| 4        | +, -     | binary |

In [ ]:
print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)

Exercise:

`print((2 ** 4), (2 * 4.), (2 * 4))`<br/>
`print((-2 / 4), (2 / 4), (2 // 4), (-2 // 4))`<br/>
`print((2 % -4), (2 % 4), (2 ** 3 ** 2))`<br/>

# 2.1.4 Variabel
- Apa itu variabel?
- Bagaimana Aturan Penamaannya?

In [ ]:
var = 1
print(var)

# you can put anything inside a variabel

- The first of them creates a variable named `var`, and assigns a literal with an integer value equal to `1`.
- The second prints the value of the newly created variable to the console.

In [ ]:
var = 1
account_balance = 1000.0
clientName = 'John Doe'
print(var, account_balance, clientName)
print(var)

In [ ]:
var = 1
print(Var) #case sensitive!

In [ ]:
var = "2019"
print("Digital talent: " + var)

In [ ]:
#Assigning a new value to an already existing variable
#Assignment variabel

var = 1
print(var)
var = var + 1
print(var)

In [ ]:
var = 100
var = 200 + 300
print(var)

Tulis rumus ini dalam kode program:<br/> $c=\sqrt{a^2+b^2}$

In [ ]:
a = 3.0
b = 4.0
c = (a ** 2 + b ** 2) ** 0.5
print("c =", c)

### Lab

<b>Here is a short story:</b> 

Once upon a time in Appleland, John had three apples, Mary had five apples, and Adam had six apples. They were all very happy and lived for a long time. End of story.

Your task is to:

- create the variables: `john`, `mary`, and `adam`;
- assign values to the variables. The values must be equal to the numbers of fruit possessed by John, Mary, and Adam respectively;
- having stored the numbers in the variables, print the variables on one line, and separate each of them with a comma;
- now create a new variable named totalApples equal to addition of the three former variables.
- print the value stored in `totalApples` to the console;
- experiment with your code: create new variables, assign different values to them, and perform various arithmetic operations on them (e.g., +, -, *, /, //, etc.). Try to print a string and an integer together on one line, e.g., `"Total number of apples:"` and `totalApples`.-

In [ ]:
john = 3
mary = 5
adam = 6

print("John's apples",john)
print("Mary's apples",mary)
print("Adam's apples",adam)

totalApples = john + mary + adam
print("Total number of apples: " , totalApples)

In [ ]:
#Shortcut operators

sheep = 5
sheep = sheep + 1
print(sheep)

sheep += 3
print(sheep)

sheep *= 2
print(sheep)

### Lab

Miles and kilometers are units of length or distance.

Bearing in mind that 1 mile is equal to approximately 1.61 kilometers, complete the program in the editor so that it converts:

- miles to kilometers;
- kilometers to miles.
Do not change anything in the existing code. Write your code in the places indicated by ###. Test your program with the data we've provided in the source code.

The Code:
```python
kilometers = 12.25
miles = 7.38

miles_to_kilometers = ###
kilometers_to_miles = ###

print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")
```

In [ ]:
kilometers = 12.25
#kilometers = 4.58
miles = 7.38

miles_to_kilometers = miles / 1.61
kilometers_to_miles = kilometers * 1.61

print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

### Lab

Scenario
Take a look at the code in the editor: it reads a float value, puts it into a variable named x, and prints the value of a variable named y. Your task is to complete the code in order to evaluate the following expression:

$3x^3 - 2x^2 + 3x - 1$

The result should be assigned to y.

Remember that classical algebraic notation likes to omit the multiplication operator - you need to use it explicitly. Note how we change data type to make sure that x is of type float.

Keep your code clean and readable, and test it using the data we've provided, each time assigning it to the x variable (by hardcoding it). Don't be discouraged by any initial failures. Be persistent and inquisitive.

```python
x =  # hardcode your test data here
x = float(x)
# write your code here
print("y =", y)
```

Test Data:
```python
#input
x = 0
x = 1
x = -1

#output
y = -1.0
y = 3.0
y = -9.0
```

In [ ]:
x = -1
x = float(x)
y = 3*x**3 - 2*x**2 + 3*x -1
print("y =", y)

### Exercise

Apa outputnya?
```python
var = 2
var = 3
print(var)
```

Nama variabel mana yang ilegal?
```python
my_var
m
101
averylongvariablename
m101
m 101
Del
del
```

Apa Outputnya?
```python
a = '1'
b = "1"
print(a + b)
```

Apa outputnya?

```python
a = 6
b = 3
a /= 2 * b
print(a)
```

# 2.1.5 Comments
Latihan: mana yang seharusnya menjadi komentar, mana yang tidak

In [ ]:
#this program computes the number of seconds in a given number of hours
# this program has been written two days ago

a = 2 # number of hours
seconds = 3600 # number of seconds in 1 hour

print("Hours: ", a) #printing the number of hours
# print("Seconds in Hours: ", a * seconds) # printing the number of seconds in a given number of hours

#here we should also print "Goodbye", but a programmer didn't have time to write any code
#this is the end of the program that computes the number of seconds in 3 hour

# 2.1.6 How to talk to a computer 
keyword `input()`<br/>
result of the `input()` function is a <b>string</b>.<br/>
Tidak bisa langsung dikenakan ke operasi aritmetika

In [ ]:
print("Tell me anything...")
anything = input()
print("Hmm...", anything, "... Really?")

In [ ]:
angka = input("Masukkan Angka...")
print("Pangkat duanya adalah", angka**2)

### type casting

In [76]:
angka = float(input("Masukkan Angka..."))
print("Pangkat duanya adalah", angka**2)

Masukkan Angka...3
Pangkat duanya adalah 9.0

In [77]:
leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
hypo = (leg_a**2 + leg_b**2) ** .5
print("Hypotenuse length is", hypo)

Input first leg length: 3
Input second leg length: 5
Hypotenuse length is 5.830951894845301

In [78]:
fnam = input("May I have your first name, please? ")
lnam = input("May I have your last name, please? ")
print("Thank you.")
print("\nYour name is " + fnam + " " + lnam + ".")

May I have your first name, please? Guntur
May I have your last name, please? Budi
Thank you.

Your name is Guntur Budi.

In [80]:
#Replication

print("+" + 10 * "-" + "+")
print(("|" + " " * 10 + "|\n") * 5, end="")
print("+" + 10 * "-" + "+")

+----------+
|          |
|          |
|          |
|          |
|          |
+----------+

In [81]:
leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
print("Hypotenuse length is " + str((leg_a**2 + leg_b**2) ** .5))

Input first leg length: 5
Input second leg length: 4
Hypotenuse length is 6.4031242374328485

### Lab
Coba utak atik perintah kode dibawah ini
``` python
# input a float value for variable a here
# input a float value for variable b here

# output the result of addition here
# output the result of subtraction here
# output the result of multiplication here
# output the result of division here

print("\nThat's all, folks!")
```

In [82]:
a = float(input("Masukkan a = "))
b = float(input("Masukkan b = "))

print("a+b = ",a+b)
print("a-b = ",a-b)
print("a*b = ",a*b)
print("a/b = ",a/b)
print("\nThat's all, folks!")

Masukkan a = 5
Masukkan b = 7
a+b =  12.0
a-b =  -2.0
a*b =  35.0
a/b =  0.7142857142857143

That's all, folks!

### Lab
Kerjakan rumus berikut:
<img src="images/modul2_pembagian.PNG" width=200px />

Expected input/output
```python
x = 1
y = 0.6000000000000001

x = 10
y = 0.09901951266867294
```

In [85]:
x = float(input("Enter value for x: "))

y = 1/(x+1/(x+1/(x+1/x)))

print("y =", y)

Enter value for x: 10
y = 0.09901951266867294

### Lab
Your task is to prepare a simple code able to evaluate the end time of a period of time, given as a number of minutes (it could be arbitrarily large). The start time is given as a pair of hours (0..23) and minutes (0..59). The result has to be printed to the console.

For example, if an event starts at `12:17` and lasts `59 minutes`, it will end at `13:16`.

Don't worry about any imperfections in your code - it's okay if it accepts an invalid time - the most important thing is that the code produce valid results for valid input data.

Code base:
```python
hour = int(input("Starting time (hours): "))
mins = int(input("Starting time (minutes): "))
dura = int(input("Event duration (minutes): "))

# put your code here
```


Test your code carefully. Hint: using the % operator may be the key to success.

In [94]:
# coba di cek lagi

hour = int(input("Starting time (hours): "))
mins = int(input("Starting time (minutes): "))
dura = int(input("Event duration (minutes): "))

mins_add = mins + dura
hours_add = int(mins_add / 60)

hour += hours_add
mins = mins_add % 60

print(str(hour%24)+':'+str(mins))

Starting time (hours): 29
Starting time (minutes): 29
Event duration (minutes): 29
5:58

In [1]:
x=input()
print(x)

5
5